* {
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  font-size: 18px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}



body {
  margin: 0 10%;
  background-color: #000;
}

header>nav {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 0 100px;
}

header>nav>ul {
  display: flex;
  justify-content: flex-end;
}

header>nav>div.left-side-logo {
  font-size: 24px;
}

header>nav>ul>li a {
  padding-left: 20px;
}

main>section.website-description {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  flex-wrap: wrap;
  background-color: #1f2937;
  padding: 0 100px;
}

main>section.website-description>div.left-side {
  width: 47.5%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

main>section.website-description>div.left-side>h1 {
  font-size: 48px;
}

main>section.website-description>div.left-side>div.sign-up-button {
  display: flex;
}

main>section.website-description>div.left-side>div.sign-up-button>a {
  padding: 5px 15px;
  background-color: #3882f6;
  border-radius: 3px;
}
main>section.website-description>div.left-side>div.sign-up-button>a:hover,
main>section.website-description>div.left-side>div.sign-up-button>a:active {
  background-color: #e5e7eb;
  color: #3882f6;
  border: #e5e7eb -3px solid;
}

main>section.website-description>div.right-side {
  width: 47.5%;
}

main>section.website-description>div.right-side>img {
  max-height: 250px;
  min-width: 100%;
}

main>section.random-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 280px;
  background-color: #fff;
}

main>section.random-information>h2 {
  font-size: 36px;
  color: #1f2937;
}

main>section.random-information>div.random-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

main>section.random-information>div.random-images-container>figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 20%;
}

main>section.random-information>div.random-images-container>figure>img {
  height: 90px;
  width: 90px;
  border-radius: 50px;
  border: #3882f6 solid 3px;
}

main>section.random-information>div.random-images-container>figure>figcaption {
  color: #1f2937;
  text-align: center;
}

main>section.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 250px;
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 0 100px;
}

main>section.testimonials>q {
  font-size: 36px;
  color: #1f2937;
  text-align: center;
}

main>section.testimonials>cite {
  color: #1f2937;
  text-align: right;
  padding-right: 15px;
}

main>section.call-to-action {
  height: 250px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}

main>section.call-to-action>div.blue-container {
  background-color: #3882f6;
  width: 100%;
  height: 140px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main>section.call-to-action>div.blue-container>div.sign-up-button>a {
  padding: 5px 15px;
  border-radius: 6px;
  border: #fff solid 3px;
}

main>section.call-to-action>div.blue-container>div.sign-up-button>a:hover,
main>section.call-to-action>div.blue-container>div.sign-up-button>a:active {
  border: #3882f6 solid 3px;
  background-color: #e5e7eb;
  color: #3882f6;
}

footer {
  height: 60px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}