* {
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  font-size: 18px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover,
a:active {
  color: #3882f6;
}

body {
  margin: 0 10%;
  background-color: #000;
}