* {
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  font-size: 18px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover,
a:active {
  color: #3882f6;
}

body {
  margin: 0 10%;
  background-color: #000;
}

header>nav {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
}

header>nav>ul {
  display: flex;
  justify-content: flex-end;
}

header>nav>div.left-side-logo {
  font-size: 24px;
}

header>nav>ul>li a {
  padding-left: 20px;
}

main>section.website-description {
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  flex-wrap: wrap;
  background-color: #1f2937;
}

main>section.website-description>div.left-side  {
  width: 47.5%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

main>section.website-description>div.left-side>h1 {
  font-size: 48px;
}

main>section.website-description>div.left-side>div.sign-up-button  {
  display: flex;
}
main>section.website-description>div.left-side>div.sign-up-button > a  {
  padding: 5px 15px;
  background-color: #3882f6;
  border-radius: 3px;
}
main>section.website-description>div.right-side {
  width: 47.5%;
}
main>section.website-description>div.right-side> img {
  max-height: 150px;
  min-width: 100%;
}

main>section.random-information>h2 {
  font-size: 36px;
}

main>section.testimonials>q {
  font-size: 36px;
}